<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Icone de la page -->
  <link rel="shortcut icon" href="{{asset('images/icon/logo_homecare.ico')}}">
  <title>Connexion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('vendor/animate/animate.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('vendor/css-hamburgers/hamburgers.min.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('vendor/animsition/css/animsition.min.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('vendor/select2/select2.min.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('vendor/daterangepicker/daterangepicker.css')}}">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{{asset('css/util.css')}}">
  <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}">
  <!--===============================================================================================-->
</head>
<body>

  <div class="limiter">
    <div class="container-login100" style="background-image: url('/images/batiment.jpg');">
      <div class="wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title p-b-41">
          Authentification
        </span>
        <form class="login100-form validate-form p-b-33 p-t-5" method="post">

          {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% if app.user %}
          <div class="mb-3">
            <center>
              Vous êtes connecté en tant que <br>
              {% if is_granted("ROLE_PROPRIETAIRE") %}
              <b>
                {{ app.user.prenom }} {{ app.user.nom }}<br>
              </b>
              {% else %}
              <b>
                {{ app.user.nomEntrep }}<br>
              </b>
              {% endif %}
              <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </center>
          </div>

          {% else %}

          <div class="wrap-input100 validate-input" data-validate = "Enter username">
            <input class="input100" value="{{ last_username }}" type="email" name="email" id="inputEmail" placeholder="Adresse mail" required autofocus>
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <input class="input100" type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
          </div>


          <input type="hidden" name="_csrf_token"
          value="{{ csrf_token('authenticate') }}">

          <br>
          <div class="checkbox mb-3">
            <center>
              <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
              </label>
            </center>
          </div>

          <div class="container-login100-form-btn m-t-32">
            <button class="login100-form-btn" type="submit" style="background: -webkit-linear-gradient(left, #138496, #005060);">
              Se connecter
            </button>
          </div>

          <br>

          <center>
            Pas encore de compte ?
            <a href="{{path('app_choix_inscription')}}" style = "color:#0398E7">Créez-en un !</a>
          </center>
          {% endif %}

        </form>
      </div>
    </div>
  </div>


  <div id="dropDownSelect1"></div>

  <!--===============================================================================================-->
  <script src="{{asset('vendor/jquery/jquery-3.2.1.min.js')}}"></script>
  <!--===============================================================================================-->
  <script src="{{asset('vendor/animsition/js/animsition.min.js')}}"></script>
  <!--===============================================================================================-->
  <script src="{{asset('vendor/bootstrap/js/popper.js')}}"></script>
  <script src="{{asset('vendor/bootstrap/js/bootstrap.min.js')}}"></script>
  <!--===============================================================================================-->
  <script src="{{asset('vendor/select2/select2.min.js')}}"></script>
  <!--===============================================================================================-->
  <script src="{{asset('vendor/daterangepicker/moment.min.js')}}"></script>
  <script src="{{asset('vendor/daterangepicker/daterangepicker.js')}}"></script>
  <!--===============================================================================================-->
  <script src="{{asset('vendor/countdowntime/countdowntime.js')}}"></script>
  <!--===============================================================================================-->
  <script src="{{asset('js/main.js')}}"></script>

</body>
</html>
