{% extends 'professionnel_base.html.twig' %}

{% block title %}
Alertes
{% endblock %}

{% block contenu %}
<center>
  <h2>
    {{ alerte.libelle }}
  </h2>
  {{ alerte.laDate ? alerte.laDate|date('d-m-Y') : '' }}<br>
  {{ alerte.bien.proprietaire.getPrenom }} {{ alerte.bien.proprietaire.getNom }}
  <p>
    {{ alerte.bien.getAdresse }}
    {{ alerte.bien.getCodePostal }}
    {{ alerte.bien.getVille }}
  </p>
</center>
<hr>

<table class="table">
  <tbody>
    <tr>
      <th>Description</th>
      <td>{{ alerte.description }}</td>
    </tr>
  </tbody>
</table>
<br>


{% endblock %}
