{% extends 'professionnel_base.html.twig' %}

{% block title %}
Facture
{% endblock %}

{% block contenu %}
<center>
  <h2>
    {{ facture.libelle }}
  </h2>
  {{ facture.laDate ? facture.laDate|date('d-m-Y') : '' }}<br>
  {{ facture.bien.proprietaire.getPrenom }} {{ facture.bien.proprietaire.getNom }}
  <p>
    {{ facture.bien.getAdresse }}
    {{ facture.bien.getCodePostal }}
    {{ facture.bien.getVille }}
  </p>
</center>
<hr>
<center>
  <a href="{{ asset('uploads/factures/' ~ facture.cheminFic) }}" style="color:#C6CCCD" target="_blank">Ouvrir la facture</a>
</center>
<br>
<embed src="{{ asset('uploads/factures/' ~ facture.cheminFic) }}" width=100% height=1000px type='application/pdf'/>
{% endblock %}
