{% extends 'proprietaire_base.html.twig' %}

{% block title %}
Mes plans
{% endblock %}

{% block contenu %}
<center>
  <h2>
    {{ plan.libelle }}
  </h2>
  <p>
    {{ plan.bien.getAdresse }}
    {{ plan.bien.getCodePostal }}
    {{ plan.bien.getVille }}
  </p>
</center>
<hr>

<table class="table">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ plan.id }}</td>
    </tr>
    <tr>
      <th>Libelle</th>
      <td>{{ plan.libelle }}</td>
    </tr>
    <tr>
      <th>Date</th>
      <td>{{ plan.laDate ? plan.laDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
      <th>Plan</th>
      <td><a href="{{ asset('uploads/plans/' ~ plan.cheminFic) }}">Voir le plan</a></td>
    </tr>
  </tbody>
</table>
<br>

<a href="{{ path('plan_index', {idBien:bien.id}) }}">
  <button class="btn btn-info btn-sm">Retour</button>
</a>

<a href="{{ path('plan_edit', {'id': plan.id, idBien:bien.id}) }}" style="float:right">
<button class="btn btn-info btn-sm">Modifier</button>
</a>

<center>
{{ include('plan/_delete_form.html.twig') }}
</center>
{% endblock %}
