{% extends 'proprietaire_base.html.twig' %}

{% block title %}
Mes plans
{% endblock %}

{% block contenu %}
<h1>Plan</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Id</th>
      <td>{{ plan.id }}</td>
    </tr>
    <tr>
      <th>Libelle</th>
      <td>{{ plan.libelle }}</td>
    </tr>
    <tr>
      <th>LaDate</th>
      <td>{{ plan.laDate ? plan.laDate|date('Y-m-d') : '' }}</td>
    </tr>
    <tr>
      <th>CheminFic</th>
      <td>{{ plan.cheminFic }}</td>
    </tr>
  </tbody>
</table>

<a href="{{ path('plan_index', {idBien:bien.id}) }}">
  <i class="demo-icon icon-undo" style="font-size:30px; color:#138496"></i>
</a>

<a href="{{ path('plan_edit', {'id': plan.id, idBien:bien.id}) }}">edit</a>

{{ include('plan/_delete_form.html.twig') }}
{% endblock %}
