<!DOCTYPE html>

<title>Alerte</title>

{% block body %}
    <h1>Alerte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alerte.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ alerte.libelle }}</td>
            </tr>
            <tr>
                <th>LaDate</th>
                <td>{{ alerte.laDate ? alerte.laDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ alerte.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alerte_index') }}">back to list</a>

    <a href="{{ path('alerte_edit', {'id': alerte.id}) }}">edit</a>

    {{ include('alerte/_delete_form.html.twig') }}
{% endblock %}
