{% extends 'professionnel_base.html.twig' %}

{% block contenu %}
<center>
  {{bien.proprietaire.getPrenom}} {{bien.proprietaire.getNom}}
  <hr>
  <h2>
    {{bien.adresse}}
  </h2>
  {{bien.ville}} - {{bien.codePostal}}
</center>
{% endblock %}
