{% extends 'proprietaire_base.html.twig' %}

{% block title %}
Biens
{% endblock %}


{% block contenu %}
<div class="row">
  <div class="col-md-12">
    <center>
      <h2>
        Modifier le bien
      </h2>
      <p>
        {{ bien.adresse }} {{ bien.codePostal }} {{ bien.ville }}
      </p>
    </center>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">

    {{ include('bien/_form.html.twig', {'button_label': 'Valider !'}) }}
    <br>
    <center>
      {{ include('bien/_delete_form.html.twig') }}
    </center>

  </div>
  <div class="col-md-3">
  </div>
</div>

{% endblock %}
