{% extends 'professionnel_base.html.twig' %}

{% block title %}
Interventions
{% endblock %}

{% block contenu %}
<center>
  <h2>
    {{ intervention.libelle }}
  </h2>
  {{ intervention.laDate ? intervention.laDate|date('d-m-Y') : '' }}<br>
  {{ intervention.bien.proprietaire.getPrenom }} {{ intervention.bien.proprietaire.getNom }}

  <p>
    {{ intervention.bien.getAdresse }}
    {{ intervention.bien.getCodePostal }}
    {{ intervention.bien.getVille }}
  </p>
</center>
<hr>

<table class="table">
  <tbody>

    {% if intervention.typeInterv != 'Autre...' %}
    <tr>
      <th>Type d'intervention</th>
      <td>{{ intervention.typeInterv }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Observations</th>
      <td>{{ intervention.observation }}</td>
    </tr>
    <tr>
      <th>Remarques</th>
      <td>{{ intervention.remarque }}</td>
    </tr>
  </tbody>
</table>
<br>
{% endblock %}
